{

  "extends": [ "airbnb-base", "prettier" ],
  "plugins": [
    "prettier",
    "jest"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": true,
      "blockBindings": true,
      "classes": true
    }
  },
  "rules": {
    "one-var": [1, "always"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
