Resources: 
  AWSEBAutoScalingGroup: 
    Metadata: 
      ? "AWS::CloudFormation::Authentication"
      : 
        S3Auth: 
          buckets: 
            - qiibee-elasticbeanstalk-deploy-config
          roleName: 
            ? "Fn::GetOptionSetting"
            : 
              DefaultValue: aws-elasticbeanstalk-ec2-role
              Namespace: "aws:asg:launchconfiguration"
              OptionName: IamInstanceProfile
          type: s3
files: 
  /root/.ssh/id_rsa_travis_ci: 
    authentication: S3Auth
    mode: "000600"
    owner: root
    group: root
    source: "https://s3.eu-central-1.amazonaws.com/qiibee-elasticbeanstalk-deploy-config/id_rsa_travis_ci"
  /root/.ssh/config: 
    mode: "000600"
    owner: root
    group: root
    content: |
      Host github.com
        IdentityFile /root/.ssh/id_rsa_travis_ci
        IdentitiesOnly yes
        UserKnownHostsFile=/dev/null
        StrictHostKeyChecking no
